body {
    font-family: 'Roboto Slab', serif;
}

section {
    margin-bottom: 20px;
}

.header_banner {
    background-image: url(img/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    width: 50%;
    padding: 300px;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

p {
    color: #a7a5a5;

}

.button {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}


.donate_top {
    width: 50%;
    margin: 0px 300px;
    text-align: center;
}

h2 {
    color: #000000;
    display: inline-block;
    font-size: 40px;
}

.donate_container {
    display: flex;
    width: 60%;
    margin: 50px 250px;

}

.donate_amount {
    width: 10%;
    background-color: #dbd2d2;
    padding: 25px;
    margin-right: 2%;
    text-align: center;
    border-radius: 5px;
}

#border {
    border: 2px solid tomato;
    background-color: #e9b4ab;
}

.form {
    width: 50%;
    margin: 0px 300px;
}

.form input {
    border: none;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: #a7a5a5;
    outline: none;
    font-size: 17px;
    border-bottom: 1px solid #a7a5a5;
}

.align {
    margin: 30px 250px;
}

.single_plan {
    width: 40%;
    border-radius: 5px;
    margin-right: 2%;
    padding: 30px 20px;
}

#one {
    background-color: #a6ddec;
    color: #000000;
}

#two {
    background-color: #e6c0b9;
}

#three {
    background-color: #ecbaa6;
}

.single_plan img {}



.single_plan h4 {}

.single_plan p {

    text-align: justify;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 20px;
}

.footer h3 {
    color: #a02c02;
}


.subscribe {
    width: 55%;
    margin: 3% 20%;
    padding: 40px;
    background-color: #e6c0b9;
    text-align: center;
    border-radius: 4px;
    display: flex;
}

.subscribe input {
    padding: 5px 10px;
    margin: 0px auto;

}

.btn {
    margin-left: 0px;
    display: inline-block;
}

.inputbox {
    margin: 5px auto;
    display: flex;
}

.inputbox input {
    border: none;
    padding: 10px 25px;

}

.inputbox input[type="email"] {
    background-color: ;
    border-radius: 4px 0px 0px 4px;
    outline: none;

}

.btn {
    text-decoration: none;
    color: white;
    background-color: rgb(253, 87, 58);
    padding: 10px 30px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;
}

.single_img {
    border: 1px solid #000000;

}

.flexible_container img {
    border: 1px solid #000000;
    margin-right: 10px;
    width: 200px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;

}

.list {
    list-style-type: none;
}

.list li {
    display: inline-block;
    text-decoration: none;
}

.list li a {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.flexible_container {
    display: flex;
    width: 60%;
    margin: 20px 300px;
}

.list ul {}