body {
    font-family: 'Roboto Slab', serif;
}

section {
    margin-bottom: 20px;
}

.header_banner {
    background-image: url(img/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    width: 50%;
    padding: 300px;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

p {
    color: #a7a5a5;

}

.button {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}


.donate_top {
    width: 50%;
    margin: 0px 300px;
    text-align: center;
}

h2 {
    color: #000000;
    display: inline-block;
    font-size: 40px;
}

.donate_container {
    display: flex;
    width: 55%;
    margin: 50px 300px;
    text-align: center;
}

.donate_amount {
    width: 10%;
    background-color: #dbd2d2;
    padding: 25px;
    margin-right: 2%;
    text-align: center;
    border-radius: 5px;
}

#border {
    border: 2px solid tomato;
    background-color: #e9b4ab;
}

.form {
    width: 50%;
    margin: 0px 300px;
}

.form input {
    border: none;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: #a7a5a5;
    outline: none;
    font-size: 17px;
    border-bottom: 1px solid #a7a5a5;
}

.align {
    margin: 30px 250px;
}